*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgba(0, 0, 0, 0.87);
}

.Navbar-container {
    display: flex;
    width: 100%;
    height: 65px;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.884);
}

h1{
    color: gold;
}

h2{
    color: white;
}

button{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    
    padding: 15px 30px;
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

button:hover{
    background-color: rgb(20, 20, 20);
    color: gold;
    transition: 0.5s;
}

.cart{
    display: flex;
    border-radius: 20px;
    padding: 7px 13px;
    background-color: rgba(185, 185, 185, 0.438);
    color: white; 
}

.cart img{
    margin-right: 5px;
    height: 24px;
}

.cart:hover{
    cursor: pointer;
}

.DrumerShop{
    padding-top: 290px;
    font-size: 60px;
}